body{
    background-color: rgb(166, 23, 35
    );
    color: rgb(191, 194, 10);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    background-color: rgb(242, 181, 68);
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    position: relative;
    left: 320px;
    box-shadow: 5px 5px 10px rgb(34, 34, 34);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input#comiloesNum{
    position: relative;
    left: 1px
}
input#regimeNum{
    position: relative;
    left: 8px;
}
input#adultosNum{
    position: relative;
    left: 8px;
}
input#criancasNum{
    position: relative;
    left: 4px;
}
div{
    text-align: center;
}
img#tamanhofamilia{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
img#tamanhogrande{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
img#tamanhopequeno{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
footer{
    font-style: italic;
}